:host {
    ion-toolbar {
      --background: #0d1117; // fondo oscuro
      --color: #f0f6fc;      // texto claro
      font-weight: 600;
    }
  
    .app-title {
      font-size: 1.3rem;
      font-weight: bold;
      letter-spacing: 1px;
    }
  
    .custom-menu {
      --background: #161b22;
      color: #c9d1d9;
    }
  
    .menu-toolbar {
      --background: #0d1117;
    }
  
    .menu-title {
      font-size: 1.2rem;
      color: #58a6ff;
      font-weight: bold;
      padding-left: 10px;
    }
  
    .menu-item {
      --background-hover: #21262d;
      --color: #c9d1d9;
      font-size: 1rem;
      padding-left: 16px;
    }
  
    .logout {
      color: #ff6b6b;
    }
  
    ion-content {
      --background: #0d1117;
    }
  }
  .carrito-badge {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 50%;
    background-color: red;
    color: white;
    z-index: 10;
  }
  
  